<h2 i18n class="titulo">Rocas válidas</h2>

<div class="lista" *ngIf="validas().length; else vacio">
  <table>
    <thead>
      <tr>
        <th i18n>ID</th>
        <th i18n>Nombre</th>
        <th i18n>Grupo</th>
        <th i18n>Clasificación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let roca of validas()">
        <td>{{ roca.id }}</td>
        <td>{{ roca.nombre }}</td>
        <td>{{ roca.grupo }}</td>
        <td>{{ roca.clasificacion }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #vacio>
  <p i18n class="vacio">Todavía no hay rocas válidas.</p>
</ng-template>
