.dashboard {
    padding: 16px;
  }
  
  .actions {
    margin-bottom: 16px;
  }
  
  .table-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .card {
    min-width: 80%;
  }
  
  .table-container {
    max-height: 400px;
    width: 100%;
    overflow: auto;
  }
  