/* Estilos globales de la aplicación */

/* 1) Tema preconstruido de Angular Material (indigo-pink) */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* 2) Ajustes básicos para tipografía y layout */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
